html {
	position: relative;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 3.0em;
}

.container {
	text-align: center;
}

.header {
	margin-top: 8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input-area {
	height: 50px;
	margin-bottom: 2em;
}

input {
	height: 40px;
	width: 35%;
	border-radius: .25em;
	border: 2px solid #d9d9d9;
	font-family: 'Lato', sans-serif;
	color: #bfbfbf;
	font-size: 1.5em;
	padding-left: 0.5em;
	box-sizing: border-box;
}


.submit-button {
	height: 40px;
	vertical-align: top;
	margin-left: .5em;
	padding: .5em 1.5em .75em;
	border-radius: .5em;
	background-color: #0264DB;
	color: #FFF;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

.submit-button:hover {
	background-color: #4e9dfd;
}

.searching p {
	color: #ff0084;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	-webkit-animation: 0.3s show;
	animation: 0.3s show;
}

@-webkit-keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
} 

@-moz-keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}

div.imageHolder{
	margin-bottom: 1.0em;
}
.title {
	color: #ff0084;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	-webkit-font-smoothing: antialiased;
	width: 50%;
	margin: 0 auto;
}

.message {
	color: #bababa;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.25em;
}

.reset-button {
	height: 50px;
	padding: .75em 1.5em;
	border-radius: .5em;
	background-color: #0264DB;
	color: #FFF;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	vertical-align: top;
}

.reset-button:hover {
	background-color: #4e9dfd;
}

-@-webkit-keyframes hide {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes hide {
	from { opacity: 1; }
	to { opacity: 0; }
}


@media screen and (max-width: 768px) {
	input {
		font-size: 1em;
	}

	.header {
		margin-top: 2em;
	}
}

@media screen and (max-width: 480px) {
	.flick-pic {
		width: 300px;
	}
}