<!DOCTYPE html>
<html lang="en" ng-app="flickrApp">
<head>
	<meta charset="UTF-8">
	<title>Flickr Searcher</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container" ng-controller="flickrController">
		<h1>Flickr Searcher</h1>
		<div class="input-area">
			<form name="searchForm" id="form" role="form">
			<input type="text" name="tagSearch" placeholder="Enter a tag to search for" maxlength="25" ng-model="tag">
			<button class="submit-button" type="submit" ng-click="submitForm()">Search</button>
			</form>
		</div>
		<div class="searching" id="searching" ng-show="formSubmitted && searchForm.tagSearch.$valid && searchingMessage"
			<p>Searching Flickr for photos tagged with: "{{ tag }}"...</p>
		</div>

		<p class="message" ng-if="formSubmitted">{{ message }}</p>
		<div class ="imageHolder" ng-repeat="result in results.photos.photo">
			<img class="flick-pic" ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}//{{result.id}}_{{result.secret}}.jpg">
			<h3 class="title">{{ result.title }}</h3>
		</div>
	  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	  	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
		<script src="js/app.js"></script>
	</div>
</body>
</html>